.remove-ul-styling {
  list-style-type: none;
}
.no-style-link {
  color: #5db7de;
  text-decoration: none;
}

.no-style-link:hover {
  color: #FCFC62;
  text-decoration: none;
  cursor: pointer;
}
//https://coolors.co/000000-ffffff-5db7de-70d6ff-FCFC62
