.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   min-height: 100vh;
  //   max-height: 100vh;
  //   margin-top: -225px;
  padding: 0px !important;
  z-index: 10;
  //   background-color: #000000;
  top: 0;
}
.links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100vw;
}
.desktop-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100vw;
}
.mobile-links {
  background-color: white;
  color: black;
  width: 100vw;
  justify-content: space-evenly;
}

.mobile-links > div {
  display: inline-block;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  text-align: left;
}

.mobile-link-remaining {
}

.filter-wrap {
  width: 100vw;
  display: none;
}

.filter {
  width: calc(100vw / 3.75);
  margin-top: 25px;
  // margin-right:50px;
}
@media only screen and (max-width: 991px) {
  .navbar {
    // margin-top: -240px;
  }
  .filter-wrap {
    display: block;
  }
}
