html,
body {
  max-height: 100vh;
  min-height: 100vh;
  //   overflow: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-color: #000000;
}
body::-webkit-scrollbar {
  width: 0 !important;
}
.App {
  font-family: "Lovelyn", Lovelyn, "Cormorant SC", "Times New Roman", Times, serif;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #000000;
  height: auto !important;
  min-height: 100%;
  width: auto !important;
  min-width: 100%;
}
.body-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}
.main-image {
  position: relative;
  //   max-width: auto;
  //   height: calc(3 / 5 * 100vh);
  //   transform: rotate(90deg);
  background-image: url("https://previews.dropbox.com/p/thumb/AAuyYYf1fFtam_kEgCmnI63SMNZC-Yqg0ApWpM1DaKGtf1xgquq03JhOnyn6Ajnxaq2cvqRYZHO3eODwtj8G5NrbFPBbhWdYNqUcr74aiITRWiSak6ONnDhVOry3QLqXYIymx3BFGY11MXhZrcKg9QoqDBhZgSqm0qj8gJSzEy0mxW7tXhoi1Cd75aMixa-SMjaeGuyzAcdIb6Z5FCoObDHvgHWx3SZyKhUwAldTRQuX0hjPoBZImiaUvtuC7NqaZ7pSEGZv0EkUUXLrvO90-omn2tJxh6EJxJYwA4VQg7XGjNWQlgcjceIetCFwNeN2cq4_lyuWiOkucKZFnjIkS_mkd5lW3eS23eO6KBjYEvOltQ/p.jpeg?fv_content=true&size_mode=5");
  grid-column: 2;
  grid-row: 2;
}
.image-overlay-text {
  font-size: 2em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 3px;
  //   color: black;
  //   border-style: solid;
  //   border-color: #ff0000;
  //   fill: #ff0000;
  //   filter: invert(100%);
  //   mix-blend-mode: exclusion;
  //   mix-blend-mode: color-burn;
  //   grid-column: 2;
  //   grid-row: 1;
}
// .image-overlay-text:before {
//   mix-blend-mode: difference;
// }
// .background-invert {
//   background-color: white;
//   mix-blend-mode: difference;
//   background-size: cover;
// }
.body-main {
  height: 100vh;
  //   display: grid;
  //   grid-template-columns: 1fr 3fr 1fr;
  //   grid-template-rows: 1fr 3fr 1fr;
  //   margin-top: 225px;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   min-height: 100vh;
  //   max-height: 100vh;
  //   margin-top: -225px;
  padding: 0px !important;
  z-index: 10;
  background-color: #000000;
  top: 0;
}
.header-subpage {
  margin-top: 100px;
}

@media only screen and (max-width: 991px) {
  .navbar {
    // margin-top: -240px;
  }
}

.desktop-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100vw;
}
.mobile-links {
  background-color: white;
  color: black;
  width: 100vw;
  justify-content: space-evenly;
}

.mobile-links > div {
  display: inline-block;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  text-align: left;
}

.mobile-link-remaining {
}
