body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
	font-family: 'Lovelyn';
	src: local('Lovelyn'), url(./fonts/Lovelyn.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}