.text-on-image {
  position: relative;
  text-align: center;
  color: white;
}
.centered-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.release-image-row {
  margin-bottom: 20px;
}

.release_name {
  margin-top: 25px;
}
.sidebar {
  margin-top: 140px;
}

.unlock-scroll {
  overflow-y: scroll;
  height: 100vh;
}
.lock-scroll {
  overflow: hidden;
  height: 100vh;
}
.filter-sidebar,
.filtered-artists {
  margin: 0px;
}
.mobile-button {
  margin-top: 100px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 991px) {
  .header-subpage {
    margin-top: 0px !important;
  }
  .mb-last-child:last-of-type {
    margin-bottom: 500px;
  }
}
