.text-on-image {
  position: relative;
  text-align: center;
  color: white;
}
.centered-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.release-image-row {
	margin-bottom:75px;
}
